.example-spacer {
    flex: 1 1 auto;
}
.navbar-style{
  /*background-color: #30AED9;*/
  background-color:  #1E90FF;
   color: white;
}
.register-style{
  margin-right: 10px; 
  font-size: large;
  /* font-family: 'Arial Narrow', Arial, sans-serif;  */
  font-family: 'Lato', Arial, sans-serif;
}
.username-style{
  margin-right: 12px; 
  font-family: 'Lato', Arial, sans-serif;
}
.profile-image{
  width: 30px;
  height: 30px;
  border: 2px solid rgb(73, 68, 68);
  border-radius: 50%;
}